body{
    margin: 0;
    position: relative;
    height: 100%;
}
html {
    height: 100%;
}
div{
    background-color: tomato;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;

    animation: move;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes move {
    0% {
        left: 0;
        margin-left: 0;
    }
    25%{left: 100%;
        margin-left: -100px;
        top: 0;
        margin-top: 0;
    }
    50%{
        left: 100%;
        margin-left: -100px;
        top: 100%;
        margin-top: -100px;
    }
    75%{
        left: 0;
        margin-left: 0;
        top: 100%;
        margin-top: -100px;
    }
    100%{
        left: 0;
        margin-left: 0;
        top: 0;
        margin-top: 0;
    }
}